---
BasedOnStyle:  Google
---
Language:        Cpp
IncludeBlocks:   Preserve
ColumnLimit:     100
AlignTrailingComments: true
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
DerivePointerAlignment: false
PointerAlignment: Left
...

