.DS_Store
CMakeFiles
CMakeScripts
CMakeCache.txt
cmake_install.cmake
Debug/
build/*
*.xcodeproj

docs/_*
docs/api

externals

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
