[submodule "libs/rtaudio"]
	path = libs/rtaudio
	url = git@github.com:thestk/rtaudio.git
[submodule "libs/rtmidi"]
	path = libs/rtmidi
	url = git@github.com:thestk/rtmidi.git
[submodule "libs/libsndfile"]
	path = libs/libsndfile
	url = git://github.com/erikd/libsndfile.git
